- @group.messages.each do |message|
  .message-top
    .message-top__name
      = message.user.name
    .message-top__date
      - @time = Time.new
      = @time.strftime("%Y/ %m/ %d/ %H:%M")
  .message-bottom
    = message.text
  - if message.image.present?
    = image_tag message.image, size:'120x180'
