
.sidebar
  .sidebar_header
    %p.group_name MrUrakou
    %i.fa.fa-cog
    %i.fa.fa-pencil-square-o
  .sidebar_groups
    .sidebar_groups_group
.contents
  .contents_header
  .contents_messages
  .contents_form
