
.sidebar
  .header
    %p.header__username MrUrakou
    %i.header__btn-right.fa.fa-cog
    %i.header__btn-left.fa.fa-pencil-square-o
  .sidebar__groups
    .sidebar__groups__group
      %p.group-name 尾山台
      %p.group-message どらあ！
.contents
  .contents__header
    .name
      %p.groupname 等々力
      %p.membername MEMBER: MrUrakou
    .box Edit
  .contents__messages
  .contents__form
