.sidebar__groups__group
  - @groups.each do |group|
    = link_to group_messages_path(group) do
      %p.group-name
        = group.name
      %p.group-message
        = group.messages.last.text if group.messages.present?
