.header {
  width:100%;
  position: fixed;

  .left-header {
    background-color: #253141;
    width: 300px;

    %h2.left-header {
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      padding:35px 20px;
    }

    %i.fa.fa-pencil-square-o {
      float: right;
    }

    %i.fa.fa-cog {
      float: right;
    }

  }
}

