.sidebar {
  height: 100%;
  width: 300px;
  float: left;

  .header {
    background-color: #253141;
    height: 125px;

    &__username {
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      padding: 35px 20px 42px;
      float: left;
    }

    &__btn-left {
      padding: 40px 0 42px 0;
      color: white;
      float: right;
    }

    &__btn-right {
      padding: 40px 20px 42px 0;
      color: white;
      float: right;
    }
  }


  .sidebar__groups {
    background-color: #2f3e51;

    &__group {

      .group-name {
      font-size: 15px;
      font-weight: bold;
      color: #FFFFFF;
      padding: 20px 20px 5px;

      }

      .group-message {
      font-size: 11px;
      font-weight: bold;
      color: #FFFFFF;
      padding: 0 20px 40px 20px;
      }
    }
  }
}


.contents {
  width: calc( 100% - 310px );
  float: right;

  &__header {
    height: 125px;
    float: left;

    .name {
      float: left;
    }

      .groupname {
        font-size: 20px;
        color: #333333;
        padding: 35px 0 15px 40px;
      }

      .membername {
        font-size: 12px;
        color: #999999;
        padding: 0 0 0 40px;
      }

    .box {
      float: right;
      padding: 10px 20px;
      border: solid #38AEF0;
      position: absolute;
      right: 40px;
      top: 28px;
    }
  }

  &__messages{
    background-color: #AAAAAA;

  }

  &__form {

  }
}


